body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}


h1,
h2,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: 900;
}

h3{
    color: #000000ab;
}

a{
    text-decoration: none;
    color: #cecece;
}
a:hover{
    color: #fff;
}


.container-fluid {
    padding: 4% 15% 1%;
}

p {
    color: #cecece;
}

img{
    border-radius: 3px;
}

/* --------------------------------- */


/* sections */
.white-sec {
    background-color: #fff;
}

.section-red {
    background: linear-gradient(-45deg,#e6646e,  #ef868a,#e6646e);
    color: #fff;
}

.section-blue {
    background: linear-gradient(-45deg,#72ccf6,  #a8dcfe,#72ccf6);
    color: #fff;
    padding: 10% 0%;
}

.section-green{
    background: linear-gradient(-45deg,#94c9b6,  #a1cdbd,#94c9b6);
    color: #fff;
    padding: 10% 0%;
}
.section-grey{
    background: linear-gradient(-45deg,  #b0b0b0,#bababa,#b0b0b0);
    color: #fff;
    padding: 10% 0%;
}
.section-black{
    background: linear-gradient(-45deg,  #1d1d1d,#303030,#1d1d1d);
    color: #fff;
    
}

/* ---------------------------------------- */


/* grid display */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.grid-child{

    padding:5%;
}

/* ---------------------------------------------- */



/* Navbar */

.nav-item {
    padding: 0 0.5rem;
}

.nav-link {
    font-size: 1.2rem;
}

.show {
    opacity: 0.8;
    border: none;
}



.head-icon{
    height: 10rem;
    margin: 0px 100px 0px 0px;
}

/* ---------------------------- */


/* About */

#text-abt{
    color:#3d688c;
}


/* ------------------------------- */



/* Products */

.btn-lg {
    
    color: #54927b;
   
}

.btn-lg:hover {
    color: white;
}

/* ---------------------------------- */


/* Services */

.service{
    margin: 0% 5%;
}

.tile{
    background-color: #1d1d1d;
    border-radius: 2px;
}
.text-left{
    padding: 4%;
    text-align: left;
    border-left: solid #1d1d1d;
}

/* ---------------------------------------- */



/* footer */

.foot-icon {
    padding: 1.5%;
}

.foot-icon:hover {
    cursor: pointer;
    font-size: 200%;
}

i {
    color:#fff;
    margin-bottom: 1rem;
    opacity: 0.8;
    transition: 0.3s;
}

/* ++++++++++++END++++++++++++++++++ */